<div fxLayout="row" fxLayoutGap="40px" fxLayout.xs="column">

    <div fxFlex="50" fxLayout="column">

        <div fxLayout="row"
        fxLayout.xs="column"
        fxLayoutGap="20px">
            <mat-form-field fxFlex="100" fxLayout.xs="column">
                <mat-label>Primer Nombre</mat-label>
                <input matInput type="text" [(ngModel)] = "usuario.firstname" required>
            </mat-form-field>
            <mat-form-field fxFlex="100">
                <mat-label>Segundo Nombre</mat-label>
                <input matInput type="text" [(ngModel)] = "usuario.secondname">
            </mat-form-field>
        </div>

        <mat-form-field>
            <mat-label>Apellido Paterno</mat-label>
            <input matInput type="text" [(ngModel)] = "usuario.lastname" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Apellido Materno</mat-label>
            <input matInput type="text" [(ngModel)] = "usuario.surname" required>
        </mat-form-field>
        <button mat-stroked-button color="accent" (click)="guardar()" ><mat-icon>check_circle</mat-icon> Guardar</button>
    </div>

    <div fxFlex="50" fxLayoutAlign="center">
        <mat-card class="example-card">
            <img src="https://res.cloudinary.com/dqccbt9ko/image/upload/v1655100607/noimage_d1qywn.jpg" class="example-card">
        </mat-card>
    </div>
</div>

<pre>
    {{ usuario | json }}
</pre>